@charset "UTF-8";

@font-face {
    font-family: 'Titulos';
    src: url('fonts/AboveTheSkyScript.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: Arial, Helvetica, sans-serif;
    
}

html, body {
    min-height: 100%;
    background: linear-gradient(
        to bottom,
        #bde8f5,
        #4989c45d,
        #0f28541e
    );
    color: white;
}

header {
    background-color: #bde8f5;
    color: black;
}

.content {
    min-height: 100vh;
    background-color: rgba(8, 4, 43, 0.637);
    width: 70cqmax;
    margin: auto;
    margin-top: -26px;
    padding-top: -15px;
}

.title {
    position: relative;
    text-align: center;
    margin-top: 40px;
}

.title h1 {
    font-size: 100px;
    font-family: "Titulos", sans-serif;
}

.title::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -15px;
    width: 100%;
    height: 130px;
    background: #BDE8F5; /* azul CSS */
    transform: translateY(-50%);
    z-index: 1;
    border-radius: 10px;
}

.title::after {
    content: "";
    position: absolute;
    margin-bottom: -14px;
    bottom: 0;
    left: 50%;
    width: 70cqmax;
    height: 4px;
    background: #1e3c72;
    transform: translateX(-50%);
    z-index: 1;
}

.title img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: blur(1px);
    width: 80px;
    opacity: 0.5;  
    z-index: 1;
}

.title h1 {
    position: relative;
    z-index: 2;
    font-size: 2.5em;
}

.caixa {
    width: 70%;
    max-width: 1100px;
    margin: 40px auto;
}

.content h1, h2 {
    margin: 20px;
    margin-bottom: 0px;
}

.content p {
    margin: 40px;
    margin-top: 10px;
}

.centralized {
    text-align: center;
}

.comment {
    margin-top: 0px;
    margin: 0;
    font-size: small;
    opacity: 0.8;   
}

.bloco {
    position: relative;
    padding-left: 5px;
    margin: 20px 0;
}

.bloco::before {
    content: "";
    position: absolute;
    left: 25px;        
    top: 0;
    bottom: 0;
    width: 3px;
    background: #bde8f5;
}

.lowVerticalMargin, .lowVerticalMargin p {
    margin-top: 1px;
    margin-bottom: 1px;
}

.bigTerm {
    font-size: large;
    margin: 0;
    min-height: 1.8em; 
    font-weight: bold;
}

.horizontalAttach {
    display: flex;
    justify-content: center;
    align-items: stretch;
}

.horTerm {
    width: max-content;
    text-align: center;
    padding: 0;
}

.divider {
    width: 2px;
    background: #ffffff;
    margin: 0;
}

.comment {
    margin: 0;
    font-size: small;
    opacity: 0.8;
}

.italic {
    font-style: italic;
     
}

.boxShadow {
    display: inline-block;
    background-color: #4b4b4b73;
    box-shadow: 0 0 5px rgba(0,0,0,0.4);
    padding: 1px 1px;
}